## editors
/.idea

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log
/package
*.tgz

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/out-tsc/

# Storybook
storybook-static
*storybook.log

custom-elements.json
tsconfig.build.tsbuildinfo
